page-home {

}
.administradorColor{
  color:White;
}
.fondoNegro {
  background-image: url('../assets/swift.png');
  width:100%; left:0%;
  background-repeat: repeat;
	background-position: center;
	background-size: contain;

  //width="130" height="130"
}
.fondoAdmin {
  background-image: url('../assets/swiftadmin.png');
  width:100%; left:0%;
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
}
.textoCentrado{
  text-align:center;
}
.imagenCentrada{
  position:relative;
    width:50%; left:25%;
    top:50%
}
.botonDebajo{
  position:absolute;
    width:100%; left:0%;
    text-align:center;
}

.tamaño100{
  width:100%;
}
.posicion1{
  position:absolute;
    width:60%; left:20%;
    top:80%;
    text-align:center;
    margin:auto;
}

.transparente{
  background-color: transparent;
}

.colorParrafoBlanco{
  color:White;
}
.textAdmin{
  color:White;
  width:90%; left:5%;
  position: absolute;
  text-align: right;
  top:90%;

}
.posicionBotonBordeAbajo{
  position:absolute;
    width:100%; left:0%;
    top:100%;
    text-align:center;
    margin:auto;
  //position: absolute;

  //float:center;
	//align: center;
	//left: 50%;
//  border-bottom-right-radius: 50px;
}
